#mainwrapper {
    background-color: bisque;
}

.maintitle {
    position: relative;
    text-align: center;
    font-family: fantasy;
    top: 2em;
    border-bottom: 2px outset black;
    font-size: 14px;
    
}

.fieldpic {
    position: relative;
    text-align: center;
    top: 40px;
}



.aboutme {
    position: relative;
    border: 2px solid black;
    font-family: fantasy;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 100px;
    text-align: center;
    left: 30em;
    background-color: #E9967A;



}

.myblog {
    position: relative;
    border: 2px solid black;
    font-family: fantasy;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 100px;
    text-align: center;
    left: 45em;
    bottom: 8em;
    background-color: #E9967A;

}

.contact {
    position: relative;
    border: 2px solid black;
    font-family: fantasy;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 100px;
    text-align: center;
    left: 60em;
    bottom: 16em;
    background-color: #E9967A;
    
}



