#mainwrapper {
    background-color: bisque;
}

.maintitle {
    position: relative;
    text-align: center;
    font-family: fantasy;
    top: 2em;
    font-size: 14px;
    font-weight: bold;
    
}

.fieldpic {
    position: relative;
    text-align: center;
    top: 40px;
}